---
permalink: "/"
---
{% for _page in site.pages %}
  {% if _page._template == 'settings' %}
    {% assign settings = _page %}
    {% for _client in settings.clients %}
      {% if _client.client_key == site.client_key %}
        {% assign client = _client %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<!doctype html>
<html lang="en">
  <head>
    <meta id="google-analytics" content="{{ client.google_analytics }}">
    <meta id="google-ads-conversion-id" content="{{ client.google_ads_conversion_id }}">
    <meta id="google-ads-conversion-label" content="{{ client.google_ads_conversion_label }}">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NR7Q28CR');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ client.head_title }}</title>
    <meta name="description" content="{{ client.head_description }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      .background-pattern {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23213068'/%3E%3Cstop offset='1' stop-color='%23ffffff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NR7Q28CR"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main>
      <section class="container-lg">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-lg-4">
            <img src=".{{ client.logo }}" class="img-fluid" alt="logo">
          </div>
          <div class="col-lg-8">
            <h6 class="fst-italic text-muted">
              {{ client.header_text  | markdownify }}
            </h6>
          </div>
        </div>
      </section>
      <section class="background-pattern py-5">
        <div class="container-lg">
          <div class="row">
            <div class="col-md-6 col-lg-7 mb-4 mb-md-0">
              <div class="card shadow-lg h-100">
                <div class="card-body text-center">
                  <h1 class="card-title fs-3">Do You Have Credit Issues?</h1>
                  <h2 class="card-subtitle mb-2 text-body-secondary fs-4">Don't Be Discouraged.</h2>
                  <h6>Press Play To Learn More Below!</h6>
                  <iframe src="{{ client.video_embed_url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="width: 100%; max-width: 100%; height: 360px;"></iframe>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="card shadow-lg h-100">
                <div class="card-body text-center">
                  <div
                    data-tf-widget="gjTPeHMU"
                    data-tf-hubspot
                    data-tf-hidden="cima_client_key={{ client.client_key }},hubspot_utk=xxxxx,hubspot_page_name=xxxxx,hubspot_page_url=xxxxx,utm_source=xxxxx,utm_medium=xxxxx,utm_campaign=xxxxx,utm_term=xxxxx,utm_content=xxxxx"
                    data-tf-on-submit="submit"
                    data-tf-hide-headers
                    data-tf-hide-footer
                    data-tf-opacity="0"
                    data-tf-auto-resize="450, 800"
                    shareGaInstance="{{ client.google_analytics }}"
                    inlineOnMobile="true"
                  ></div>
                  <script src="https://embed.typeform.com/next/embed.js"></script>
                  <script>
                    function submit({ formId, responseId }) {
                      setTimeout(() => {
                        if (__hsUserToken) {
                          fetch(`https://hbip.austindevs.workers.dev/?pageName=${encodeURIComponent(document.title)}&pageUri=${encodeURIComponent(window.location.href)}&hutk=${encodeURIComponent(__hsUserToken)}`);
                        }
                      }, 2000);
                    }
                  </script>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <div class="card">
                <div class="card-body lh-1">
                  {% if client.phone != '' and client.phone != nil %}
                    <h6 class="text-center">
                      We are also available anytime at<br/>
                      <a href="tel:{{ client.phone }}">{{ client.phone | phone_number }}</a>
                    </h6>
                  {% endif %}
                  <small class="text-muted fw-lighter">
                    {{ client.consent | markdownify }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container-lg py-5 text-center">
        <h4 style="color: #213068">{{ client.faqs_header  | markdownify }}</h4>
        <h3>Frequently Asked Questions</h3>
      </section>
      <section class="py-5" style="background-image: url(./uploads/people.webp); background-repeat: no-repeat; background-position: center center; background-size: cover;">
        <div class="container-lg">
          <div class="accordion" id="accordion" data-bs-theme="dark">
            {% for faq in client.faqs %}
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapse{{ forloop.index }}">
                    {{ faq.question }}
                  </button>
                </h2>
                <div id="collapse{{ forloop.index }}" class="accordion-collapse collapse text-dark bg-light text-center" data-bs-parent="#accordion">
                  <div class="accordion-body">
                    {{ faq.answer | markdownify }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <section class="container-lg text-center py-5">
        <p>
          <small>
            {{ client.disclaimer }}
          </small>
        </p>
        <p>
          <a href="{{ client.privacy_policy_url }}" target="_blank">Privacy Policy</a> | <a href="{{ client.licensing_url }}" target="_blank">Licensing</a>
        </p>
        {{ client.managers | markdownify }}
        <p>
          <img src="./uploads/equal-house.webp" alt="equal-house" style="width: 50px; height: auto">
        </p>
      </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
